---
const { article } = Astro.props;

const formattedDate = article.data.date.toLocaleDateString("bg-BG", {
  day: "numeric",
  month: "long",
  year: "numeric",
});
---

<a class="news-card" href={`/novini/${article.id}/`}>
  {article.data.heroImage && (
    <img
      src={article.data.heroImage}
      alt={article.data.title}
      class="news-image"
    />
  )}

  <div class="news-content">
    <div class="news-meta">
      <span>{formattedDate}</span>
    </div>

    <h2>{article.data.title}</h2>

    <p>{article.data.description}</p>

    <span class="read-more">
      Прочети повече →
    </span>
  </div>
</a>

